@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #cfd8dc;
}

h1 {
  color: #ededed; /* Màu xanh sáng */
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

h2, h3 {
  color: #ffb300; /* Màu vàng dịu */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

p, li {
  color: #b0bec5; /* Màu xám xanh nhẹ */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.card {
  background-color: rgba(0, 0, 0, 0.7); /* Nền trong suốt nhẹ để dễ nhìn hơn */
  padding: 15px;
  border-radius: 10px;
}

a {
  color: #ededed; /* Link có màu xanh nhạt */
}

a:hover {
  color: #00bcd4;
}

html {
  scroll-behavior: smooth;
}

